@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loading {
    0% {
        background-position: -200px 0;
    }
    100% {
        background-position: calc(200px + 100%) 0;
    }
}

.skeleton {
    background: linear-gradient(90deg, rgba(229, 231, 235, 1) 0%, rgba(243, 244, 246, 1) 50%, rgba(229, 231, 235, 1) 100%);
    background-size: 200px 100%;
    animation: loading 1.5s ease-in-out infinite;
}